<ion-view title="Account">
  <ion-content class="has-header padding">
    <h1>Account</h1>

    <div class="card">
	  <div class="item item-text-wrap">
	   	First Name: {{ user.first_name }}
	  </div>
	</div>

	<div class="card">
	  <div class="item item-text-wrap">
	   	Login: {{ user.login }}
	  </div>
	</div>

    <div class="card">
	  <div class="item item-text-wrap">
	   	Email: {{ user.email }}
	  </div>
	</div>

    <a class="button button-block button-positive" ua-logout>
		<span ng-show="!loading">Log Out</span>
		<i ng-show="loading" class="ion-loading-b"></i>
    </a>
  </ion-content>
</ion-view>
